[package]
name = "plegosa"
version = "0.2.2"
authors = ["SyoBoN <syobon@syo.bar>"]
edition = "2021"
rust-version = "1.76"
description = "A simple Egosa (ego-search) tool for Pleroma"
repository = "https://github.com/syobocat/plegosa/"
license-file = "LICENSE"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
colored = { version = "2" }
env_logger = { version = "0.11" }
fast_html2md = { version = "0.0" }
kanaria = { version = "0.2" }
log = { version = "0.4" }
megalodon = { version = "0.11" }
nanohtml2text = { version = "0.1" }
openssl = { version = "0.10" }
regex = { version = "1" }
serde = { version = "1" }
tokio = { version = "1" }
toml = { version = "0.8" }
unicode-normalization = { version = "0.1" }
ureq = { version = "2", features = ["json"] }

[features]
default = []
static-openssl = ["openssl/vendored"]

# Workaround for #11

[package.metadata.cross.target.x86_64-unknown-netbsd]
pre-build = [
    "mkdir -p /tmp/netbsd",
    "curl https://cdn.netbsd.org/pub/NetBSD/NetBSD-9.2/amd64/binary/sets/base.tar.xz -O",
    "tar -C /tmp/netbsd -xJf base.tar.xz",
    "cp /tmp/netbsd/usr/lib/libexecinfo.so /usr/local/x86_64-unknown-netbsd/lib",
    "rm base.tar.xz",
    "rm -rf /tmp/netbsd",
]
