[instance]
software = 'Pleroma' # Software name
url = 'pleroma.social' # Instance URL
token = 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx' # Access token (Optional when timelines.home is false)

[timelines]
targets = [ 'Home' ] # Timelines to watch (Possible values: 'Home', 'Local', and 'Public')

[filter]
case_sensitive = true # (Default: true)
use_regex = false # (Default: false)
include = [] # Words to include (Everything when empty) (Default: empty)
exclude = [] # Words to exclude (Default: empty)
user_include = [] # Authors to include (Everyone when empty) (Default: empty)
user_exclude = [] # Authors to exclude (Default: empty)

[logger.stdout]
enable = true # Whether to write hit log to Standard Output (Default: true)

[logger.discord]
enable = false # Whether to Write hit log to Discord (Default: false)
use_embed = false # Send as Embed instead of link (Default: true)
webhook = 'https://discord.com/api/webhooks/0000000000000000000/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxx-xxxxxxxxxxxxxxxxxx' # Webhook URL
